@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    background: url(bgpic.jpg);
    background-position:center ;
    background-size: cover;
    backdrop-filter: opacity 0.5;
    height: 100vh;
}

header{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px;
}

header .navbar{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar .logo{
    color: #fff;
    font-size: 2.1rem;
    font-weight: 300;
    font-display: bold;
}

.navbar .logo span{
    color: red;
}
.navbar .menu-links{
    display: flex;
    gap: 50px;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    transition: 0.2sec ease;
}

.navbar a:hover{
    color: red;
}

.hero-section{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.hero-section .content{
    color: #fff;
    padding: 30px;
}

.hero-section .content h1{
    font-size: 3rem;
    max-width: 600px;
}

.hero-section .content p {
    font-weight: 300;
    margin-top: 15px;
    max-width: 600px;
}

.hero-section .content button{
    background-color: #fff;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 40px;
    padding: 12px 30px;
    border-radius: 6px;
    cursor: pointer;
}

.hero-section .content button:hover{
    color: #fff;
    background:red;
}

.hero-section .content button li {
    display: flex;
}

#menu-btn{
    color: #fff;
    cursor: pointer;
    display: none;
}

#close-menu-btn{
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

@media screen and (max-width:900px){
    header.show-mobile-menu::before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
    }

    #menu-btn,#close-menu-btn{
        display: block;
    }
    .navbar .menu-links{
        position: fixed;
        left: -260px;
        top: 0;
        flex-direction: column;
        width: 260px;
        height: 100vh;
        background: #fff;
        padding: 70px 40px 0;
        transition: left 0.15s ease;
    }

    header.show-mobile-menu .navbar .menu-links{
        left:0;
    }
    
   .navbar a{
    color: #000; ;
   }
}
ul{
    list-style-type: none;
}